header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.logo {
  text-transform: uppercase;
  color: rgb(255, 0, 0);
}

nav button {
  background-color: rgb(255, 0, 0);
  color: white;
}

main {
  background-color: rgb(85, 85, 85);
}