body {
  background-color: rgb(85, 85, 85);
}

header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  z-index: 1000;
}

.logo {
  text-transform: uppercase;
  color: rgb(255, 0, 0);
}

nav button {
  background-color: rgb(255, 0, 0);
  color: white;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.card {
  height: 400px;
  overflow: hidden;
}

.card-img {
  width: 100;
  position: absolute;
}

.nobar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.scroll-button {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  text-align: center;
  line-height: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

#overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.588);
  color: white;
  height: 400px;
  padding: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  overflow-y: auto;
}

#overlay img {
  width: 20px;
  height: 15px;
  margin: 5px;
}

.card:hover #overlay {
  display: flex;
}